* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fcebeb;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: aqua;

}

p {
    display: inline;
}



